//- ====================================
//-  CONTRIBUTING
//- ====================================
.sixteen.columns
  h3 Contributing More Styles 

  p 
    | Contributing more styles is easy!
    ol
      li.
        Click <a href="https://github.com/notifyjs/notifyjs/new/gh-pages/src/styles" target="_blank">this</a> link
      li Sign into GitHub (if you're not already)
      li Click 'Fork'
      li Enter your new style
      li Click 'Commit New File'
      li Click 'Send Pull Request'!

  p
    | To get people started with some styles ideas, checkout this 
    a(href="http://mac.appstorm.net/roundups/utilities-roundups/36-sweet-growl-styles-to-keep-your-notifications-snappy/", target="_blank") post on various Growl styles
    | .

  p.italic
    | Note: If you wish to contribute to the library by fixing bugs or adding features,
    | see the 
    b src
    |  folder. Also, the source is in CoffeeScript, however, new styles can be either JavaScript or CoffeeScript.
    |  I'm using 
    a(href="https://gruntjs.com", target="_blank") Grunt 
    |  to compile, minify and concat the builds, you can do so with:
    ol
      li
        | Fork 
        a(href="https://github.com/notifyjs/notifyjs") https://github.com/notifyjs/notifyjs
      li: code cd notifyjs
      li: code npm install -g grunt-cli
      li: code npm install
      li: code grunt
      li Pull-request ! 
