//- ====================================
//-  SUMMARY
//- ====================================
.eight.columns.summary
  h3 Summary
  p
    | Notify.js is a jQuery plugin to provide simple yet fully customisable notifications.
    | The javascript code snippets in this documentation with the 
    code green
    |  edge are runnable by clicking them.

  p: pre.prettyprint.runnable
    | $.notify("Hello World");

  img.demo-mouse(src='docs/img/pointer.png')